<header>
  <div class="container">
    <div class="x-navbar">
      <div class="row">
        <div class="col-md-12">
          <a href="/">
            <svg class="nav-logotype hidden-sm-down">
              <use xlink:href="/content/images/logo-banner.svg#default"></use>
            </svg>
            <svg class="nav-logotype hidden-md-up">
              <use xlink:href="/content/images/logo.svg#default"></use>
            </svg>
          </a>
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <button class="about" data-toggle="modal" data-target="#dvModalAbout">
                <span>About</span>
              </button>
            </li>
            <li class="nav-item">
              <button class="crew" data-toggle="modal" data-target="#dvModalCrew">
                <span>Crew</span>
              </button>
            </li>
            <li class="nav-item">
              <button class="jobs" data-toggle="modal" data-target="#dvModalJobs">
                <span>Jobs</span>
              </button>
            </li>
            <li class="nav-item">
              <button class="contact" data-toggle="modal" data-target="#dvModalContact">
                <span>Contact</span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
