<header>
  <div class="container">
    <div class="row">
      <div class="col col-md-12">
        <nav class="navbar navbar-expand-md sticky-top">
            <a class="d-flex mr-auto navbar-brand w-50" 
               href="/">
              <svg class="nav-logotype d-md-inline d-none">
                <use xlink:href="/assets/images/logos/logo-banner.svg#default"></use>
              </svg>
              <svg class="nav-logotype d-md-none d-inline">
                <use xlink:href="/assets/images/logos/logo.svg#default"></use>
              </svg>
            </a>
            <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span>Surviving the Holidays</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span>About</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span>Crew</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span>Jobs</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span>Contact</span>
                </a>
              </li>
            </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
