<footer>
  <div class="container">
    <div class="row" style="margin-top: 10px;">
      <div class="col col-12 text-xs-center">
        <div class="d-flex flex-column flex-md-row-reverse x-footer">
          <ul class="align-items-center d-flex flex-row ml-md-auto mr-md-0 mx-auto social-icons">
            <li class="list-unstyled">
              <a class="align-items-center d-flex facebook justify-content-center" href="https://fb.com/xenomurf/" target="_blank">
                <svg style="height: 24px; width: 24px; fill: #e7bd2a;">
                  <use xlink:href="/assets/images/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="list-unstyled">
              <a class="align-items-center d-flex instagram justify-content-center" href="https://instagram.com/xenomurf/" target="_blank">
                <svg style="height: 24px; width: 24px; fill: #e7bd2a;">
                  <use xlink:href="/assets/images/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="list-unstyled">
              <a class="align-items-center d-flex justify-content-center twitter" href="https://twitter.com/xenomurfstudios/" target="_blank">
                <svg style="height: 24px; width: 24px; fill: #e7bd2a;">
                  <use xlink:href="/assets/images/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
          <p class="d-flex ml-md-0 mx-auto xms-copyright">Copyright &copy; 2017-{{ yearCurrent }} Xenomurf, Inc. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>