<footer>
  <div class="container">
    <div class="x-footer">
      <div class="row" style="margin-top: 10px;">
        <div class="col-sm-12 col-md-6 push-md-6 text-xs-center">
          <div>
            <ul class="float-md-right list-unstyled social-icons">
              <li style="display:inline-block; padding-left:30px;">
                <a class="facebook" href="https://fb.com/xenomurf/" target="_blank">
                  <svg style="height: 23px; width: 23px; fill: #e7bd2a;">
                    <use xlink:href="/content/images/icons.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li style="display:inline-block; padding-left:30px;">
                <a class="facebook" href="https://instagram.com/xenomurf/" target="_blank">
                  <svg style="height: 23px; width: 23px; fill: #e7bd2a;">
                    <use xlink:href="/content/images/icons.svg#instagram"></use>
                  </svg>
                </a>
              </li>
              <li style="display:inline-block; padding-left:30px;">
                <a class="facebook" href="https://twitter.com/xenomurfstudios/" target="_blank">
                  <svg style="height: 23px; width: 23px; fill: #e7bd2a;">
                    <use xlink:href="/content/images/icons.svg#twitter"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 pull-md-6 text-xs-center">
          <div>
            <p class="xms-copyright">&copy;
              <script>
                var yearCurrent = new Date().getFullYear();
                document.write(yearCurrent);
              </script> Xenomurf. All rights reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>